# 02/26/23 - This notebook takes the individual inputs necessary for use in a master ppxf script that will access them and do it iteratively, so I don't have to run every single object separately.
## Will be saved to a csv file.

In [41]:
import numpy as np
import pandas as pd

In [74]:
# data directory
data_dir = '/data/raw_data/KECK_KCWI_SLACS_kinematics_shawn/'
tables_dir = f'{data_dir}tables/'
mosaics_dir = f'{data_dir}mosaics/'
kinematics_dir = f'{data_dir}kinematics/'

In [42]:
df = pd.DataFrame(columns=['obj_name',
                           'z',
                           'zbs',
                           'T_exp',
                          'center_x',
                          'center_y',
                          'wave_min',
                          'wave_max',
                          ]
                 )

Take each object in turn

______________________

In [43]:
obj_name = 'SDSSJ0029-0055'
obj_abbr = obj_name[4:9] # e.g. J0029
z = 0.227 # lens redshift
T_exp = 1800*5 # exposure time in seconds... this is where I made the disastrous mistake
lens_center_x,lens_center_y = 61, 129
wave_min = 320
wave_max = 430

df.loc[0] = [obj_name,
             z,
             0,
             T_exp,
             lens_center_x,
             lens_center_y,
             wave_min,
             wave_max]

In [44]:
df

         obj_name      z zbs T_exp center_x center_y wave_min wave_max
0  SDSSJ0029-0055  0.227   0  9000       61      129      340      430

In [45]:
df.obj_name

0    SDSSJ0029-0055
Name: obj_name, dtype: object

In [46]:
df.obj_name[0]

'SDSSJ0029-0055'

______________________

In [47]:
# Set 'obj_name', 'z', 'T_exp'
obj_name = 'SDSSJ0037-0942'
obj_abbr = obj_name[4:9] # e.g. J0029
z = 0.195 # lens redshift
T_exp = 1800*3 # This has been corrected
lens_center_x,lens_center_y = 59, 137
wave_min = 320
wave_max = 430

df.loc[1] = [obj_name,
             z,
             0,
             T_exp,
             lens_center_x,
             lens_center_y,
             wave_min,
             wave_max]

______________________

In [48]:
obj_name = 'SDSSJ0330-0020'
obj_abbr = obj_name[4:9] # e.g. J0029
z = 0.351 # lens redshift
z_bs = 1.071 # background source redshift... additional piece for contamination
T_exp = 1800*6 # fixed
lens_center_x,lens_center_y = 59, 133
wave_min = 320
wave_max = 410

df.loc[2] = [obj_name,
             z,
             z_bs,
             T_exp,
             lens_center_x,
             lens_center_y,
             wave_min,
             wave_max]

______________________

In [49]:
# Set 'obj_name', 'z', 'T_exp'
obj_name = 'SDSSJ1112+0826'
obj_abbr = obj_name[4:9] # e.g. J0029
z = 0.273 # lens redshift
z_bs = 0.629
T_exp = 1800*4 # this has been corrected
lens_center_x,lens_center_y = 64, 131
wave_min = 320
wave_max = 430

df.loc[3] = [obj_name,
             z,
             z_bs,
             T_exp,
             lens_center_x,
             lens_center_y,
             wave_min,
             wave_max]

______________________

In [50]:
# Set 'obj_name', 'z', 'T_exp'
obj_name = 'SDSSJ1204+0358'
obj_abbr = obj_name[4:9] # e.g. J0029
z = 0.164 # lens redshift
T_exp = 1800*4 # this has been corrected
lens_center_x,lens_center_y = 60, 135
wave_min = 320
wave_max = 430

df.loc[4] = [obj_name,
             z,
             0,
             T_exp,
             lens_center_x,
             lens_center_y,
             wave_min,
             wave_max]

______________________

In [51]:
# Set 'obj_name', 'z', 'T_exp'
obj_name = 'SDSSJ1250+0523'
obj_abbr = obj_name[4:9] # e.g. J0029
z = 0.232 # lens redshift
T_exp = 1800*3 # this has been corrected
lens_center_x,lens_center_y = 53, 127
wave_min = 320
wave_max = 430

df.loc[5] = [obj_name,
             z,
             0,
             T_exp,
             lens_center_x,
             lens_center_y,
             wave_min,
             wave_max]

______________________

In [52]:
# Set 'obj_name', 'z', 'T_exp'
obj_name = 'SDSSJ1306+0600'
obj_abbr = obj_name[4:9] # e.g. J0029
z = 0.173 # lens redshift
T_exp = 1800*3 + 1500 # this has been fixed
lens_center_x,lens_center_y = 56, 137
wave_min = 320
wave_max = 430

df.loc[6] = [obj_name,
             z,
             0,
             T_exp,
             lens_center_x,
             lens_center_y,
             wave_min,
             wave_max]

______________________

In [53]:
# Set 'obj_name', 'z', 'T_exp'
obj_name = 'SDSSJ1402+6321'
obj_abbr = obj_name[4:9] # e.g. J0029
z = 0.205 # lens redshift
T_exp = 1800*4 # corrected
lens_center_x,lens_center_y = 57, 129
wave_min = 320
wave_max = 430

df.loc[7] = [obj_name,
             z,
             0,
             T_exp,
             lens_center_x,
             lens_center_y,
             wave_min,
             wave_max]

______________________

In [54]:

# Set 'obj_name', 'z', 'T_exp'
obj_name = 'SDSSJ1531-0105'
obj_abbr = obj_name[4:9] # e.g. J0029
z = 0.16 # lens redshift
T_exp = 1200*4 # this has been corrected
lens_center_x,lens_center_y = 60, 129
wave_min = 320
wave_max = 430

df.loc[8] = [obj_name,
             z,
             0,
             T_exp,
             lens_center_x,
             lens_center_y,
             wave_min,
             wave_max]

______________________

In [55]:
# Set 'obj_name', 'z', 'T_exp'
obj_name = 'SDSSJ1538+5817'
obj_abbr = obj_name[4:9] # e.g. J0029
z = 0.143 # lens redshift
T_exp = 1800*2 # this has been corrected
lens_center_x,lens_center_y = 58, 119
wave_min = 320
wave_max = 430

df.loc[9] = [obj_name,
             z,
             0,
             T_exp,
             lens_center_x,
             lens_center_y,
             wave_min,
             wave_max]

______________________

In [56]:
# Set 'obj_name', 'z', 'T_exp'
obj_name = 'SDSSJ1621+3931'
obj_abbr = obj_name[4:9] # e.g. J0029
z = 0.245 # lens redshift
T_exp = 1200*6 # corrected
lens_center_x,lens_center_y = 58, 126 #30, 99
wave_min = 320
wave_max = 430

df.loc[10] = [obj_name,
             z,
             0,
             T_exp,
             lens_center_x,
             lens_center_y,
             wave_min,
             wave_max]

______________________

In [57]:
# Set 'obj_name', 'z', 'T_exp'
obj_name = 'SDSSJ1627-0053'
obj_abbr = obj_name[4:9] # e.g. J0029
z = 0.208 # lens redshift
T_exp = 1800*5 + 960 # corrected #266 * 60
lens_center_x,lens_center_y = 56, 134
wave_min = 320
wave_max = 430

df.loc[11] = [obj_name,
             z,
             0,
             T_exp,
             lens_center_x,
             lens_center_y,
             wave_min,
             wave_max]

______________________

In [58]:
# Set 'obj_name', 'z', 'T_exp'
obj_name = 'SDSSJ1630+4520'
obj_abbr = obj_name[4:9] # e.g. J0029
z = 0.248 # lens redshift
T_exp = 1800*4 + 1180 #266 * 60
lens_center_x,lens_center_y = 59, 131
wave_min = 340
wave_max = 430

df.loc[12] = [obj_name,
             z,
             0,
             T_exp,
             lens_center_x,
             lens_center_y,
             wave_min,
             wave_max]

______________________

In [59]:
# Set 'obj_name', 'z', 'T_exp'
obj_name = 'SDSSJ2303+1422'
obj_abbr = obj_name[4:9] # e.g. J0029
z = 0.155 # lens redshift
T_exp = 1800*3 # corrected
lens_center_x,lens_center_y = 58, 124
wave_min = 340
wave_max = 430

df.loc[13] = [obj_name,
             z,
             0,
             T_exp,
             lens_center_x,
             lens_center_y,
             wave_min,
             wave_max]

In [60]:
df

          obj_name      z    zbs  T_exp center_x center_y wave_min wave_max
0   SDSSJ0029-0055  0.227      0   9000       61      129      340      430
1   SDSSJ0037-0942  0.195      0   5400       59      137      340      430
2   SDSSJ0330-0020  0.351  1.071  10800       59      133      340      410
3   SDSSJ1112+0826  0.273  0.629   7200       64      131      340      430
4   SDSSJ1204+0358  0.164      0   7200       60      135      340      430
5   SDSSJ1250+0523  0.232      0   5400       53      127      340      430
6   SDSSJ1306+0600  0.173      0   6900       56      137      340      430
7   SDSSJ1402+6321  0.205      0   7200       57      129      340      430
8   SDSSJ1531-0105  0.160      0   4800       60      129      340      430
9   SDSSJ1538+5817  0.143      0   3600       58      119      340      430
10  SDSSJ1621+3931  0.245      0   7200       58      126      340      430
11  SDSSJ1627-0053  0.208      0   9960       56      134      340      430
12  SDSSJ1630+4520  0.248      0   8380       59      131      340      430
13  SDSSJ2303+1422  0.155      0   5400       58      124      340      430

In [61]:
df.to_csv('/data/raw_data/KECK_KCWI_SLACS_kinematics_shawn/tables/ppxf_input_table.csv', index=False)